* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.prueba {
	z-index: 100;
}
.prueba-a {
	z-index: 200;
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding-left: 20%;
	padding-top: 25px;
}
.prueba-a > a {
	color: #fff;
}
a {
	text-decoration: none;
	font-weight: bold;
}

.prueba-a > a:hover {
	color: #0232f2;
}

.div-container {
	height: 80vh;
}
.div-container > img {
	height: 100%;
}

.div-footer-princi {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.div-footer-primario {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.footer-entrada {
	margin: 5px;
	align-items: center;
}
.footer-index {
	margin: 5px;
	align-items: center;
}
.footer-entrada > .footer-img > img {
	width: 175px;
}
.footer-index > .footer-img > img {
	width: 175px;
}

.div-secun-footer {
	width: 35%;
	padding-top: 20px;
}
.texto {
	color: #fff;
}
.div-h1-p {
	height: 70vh !important;
	letter-spacing: 0;
}
.carousel-caption {
	text-align: start !important;
}

p {
	margin-bottom: 0px !important;
}

.navar {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.navar > a {
	padding: 10px;
	padding-left: 55px;
	padding-right: 55px;
	font-size: 25px;
	color: #000;
	background-color: rebeccapurple;
	margin: 15px;
	border-radius: 25px;
}

.navar > a:hover {
	color: #0232f2;
	background-color: aqua;
}

#boletas {
	background-color: #a89337;
}

#div-target {
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
}
.target-a {
	text-decoration: none;
	margin: 55px;
	width: 70%;
}
.name-target {
	color: #000;
	background-color: red;
	text-align: center;
	padding: 15px;
	font-size: 25px;
	border-radius: 20px 20px 0px 0px;
}

.content-target {
	background-color: #dcc410;
	font-size: 30px;
	color: #000;
	text-align: center;
}
ul {
	list-style: none;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 0 !important;
}

ul > li {
	padding: 10px;
	color: #000;
}
.footer-target {
	height: 80px;
	background-color: red;
	border-radius: 0px 0px 20px 20px;
}
